<!DOC TYPE html>
<html>
	<head>
		<title>Down By The River</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Down By The River</a></h1>
		</header>
		
		<br>
		<h2>My tale of ....something</h2>
		<br>
		<p>So the relearning begins. Pull up a chair, grab a beer and join me down by the river as I teach myself things <em>long</em> forgotten.</p>
		<p>It works!</p>
		<br>
		<br>
		
		<article>
			<time>published: 20.06.21, 17:20</time>
			<h4><a href="">My first post</a></h4>
			<p> blah blah blah de blah blah</P>
		</article>
		
		<br>
		<br>
		
		<article>
			<time>published: 20.06.21, 17:20</time>
			<h4><a href="">My second post</a></h4>
			<p> More blah blah blah de blah blah</P>
		</article>
		
	</body>
</html>	

